#columns {
    height: 1fr;
}

#columns > * {
    width: 1fr;
    height: 1fr;
}

#main-column {
    height: 1fr;
    padding: 1;
}

#filename {
    width: 1fr;
    border: round $panel;
    background: transparent;
}

#main {
    height: 1fr;
}

#editor {
    width: 1fr;
    height: 1fr;
    padding: 1 0 1 1;
    border: round $secondary;
    background: transparent;
}

#editor:focus {
    border: round $secondary;
}

#preview {
    width: 1fr;
    height: 1fr;
    padding: 1 0 1 1;
    border: round $panel;
    background: transparent;
}

#preview-md {
    background: transparent;
}

#file-tree {
    width: 1fr;
    height: 1fr;
    padding: 1;
    border: round $panel;
    background: transparent;
    scrollbar-visibility: hidden;
}
