Screen {
    align: center middle;
}

InputGroup {
    dock: bottom;
    height: 8;
    align-horizontal: center;
}

ChatHistory {
    padding: 0 0 1 0;
    scrollbar-visibility: hidden;
    width: 80;
}

UserInput {
    background: transparent;
    border: round $panel;
    margin: 0 1;
    width: 80;
}

.tool-call-actions {
    height: auto;
    align-horizontal: right;
}

.tool-call-actions Button {
    margin: 0 0 0 1;
    min-width: 13;
    background: transparent;
}

.tool-call-approve {
    color: $text-success;
    border: round $success;
}

.tool-call-reject {
    color: $text-error;
    border: round $error;
}